@model ProyectoTopicos.Models.Room

@{
    ViewBag.Title = "Detalles";
}

<br />
<h2>Información de las salas</h2>
<p>Información relacionada a la sala seleccionada.</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoomName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomDisponibility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomDisponibility)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.RoomID }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
