@model ProyectoTopicos.Models.Sala

@{
    ViewBag.Title = "Eliminar sala";
}

<h2>Eliminar sala</h2>

<p>¿Desea eliminar realmente la sala?</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SalaNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaCaracteristicas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaCaracteristicas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaCantidadAsientos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaCantidadAsientos)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
